{%extends 'shop/base.html'%}
{%block title%}Dashboard{%endblock%}

{%block content%}
<section class="panel">
    <h2>Store dashboard</h2>
    <!-- <div style="display:grid; grid-template-columns:repeat(4, 1fr); gap:12px; margin-top:12px;">
        <div class="panel"><div class="muted">Total orders</div><div style="font-size:24px;">{{total_orders}}</div></div>
        <div class="panel"><div class="muted">Paid orders</div><div style="font-size:24px;">{{paid_orders}}</div></div>
        <div class="panel"><div class="muted">Orders (7d)</div><div style="font-size:24px;">{{week_orders}}</div></div>
        <div class="panel"><div class="muted">Revenue</div><div style="font-size:24px;">{{revenue}}$</div></div>
    </div> -->
    <div style="display:flex; gap:10px; margin-top:14px;">
        <a class="btn btn--primary" href="{%url 'shop:manage_products'%}">Products</a>
        <a class="btn" href="{% url 'shop:manage_orders'%}">Orders</a>
    </div>
    <h3 style="margin-top:18px;">Recent orders</h3>
    <table style="width:100%; border-collapse:collapse; margin-top:10px;">
        <tr>
            <th align="left">#</th>
            <th align="left">Customer</th>
            <th align="left">Total</th>
            <th align="left">Status</th>
            <th align="left"></th>
        </tr>
        {%for o in recent_orders%}
        <tr class="column-line">
            <td>{{o.id}}</td>
            <td>{{o.first_name}} {{o.last_name}}</td>
            <td>{{o.total}}</td>
            <td>{{o.status}}</td>
            <td><a class="btn" href="{%url 'shop:manage_order_detail' o.id%}">Open</a></td>
        </tr>
        {%empty%}
        <tr><td colspan="5" class="muted">No orders yet</td></tr>
        {%endfor%}
    </table>

    <a class="btn btn--primary" href="{%url 'shop:export_dashboard'%}">Export CSV</a>
    <!-- <a class="btn btn--primary" href="{%url 'shop:export_dashboard_pdf'%}">Export PDF</a> -->
    <button class="btn" onclick="exportPDF()">Export PDF</button>

    <h2>Dashboard</h2>

    <div class="kpi-grid">
        <div class="kpi-card">
            <div class="kpi-title">🌎 Total Orders</div>
            <div class="kpi-value">{{total_orders}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-title">🤑 Paid Orders</div>
            <div class="kpi-value">{{paid_orders}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-title">📮 Orders (7 days)</div>
            <div class="kpi-value">{{week_orders}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-title">💸 Revenue</div>
            <div class="kpi-value">${{revenue_total}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-title">💰 Revenue</div>
            <div class="kpi-value">${{week_revenue}}</div>
            <div class="kpi-change
                {%if revenue_change>0%}
                positive
                {%elif revenue_change<0%}
                negative
                {%endif%}
            ">
            {%if revenue_change>0%}
            🟢 + {{revenue_change}}%
            {%elif revenue_change<0%}
            🔴 {{revenue_change}}%
            {%else%}
            0%
            {%endif%}
            vs last week
            </div>
    </div>

    <canvas id="ordersChart" height="120"></canvas>
    <canvas id="revenueChart" height="120" style="margin-top:30px;"></canvas>
    <canvas id="statusChart" height="120" style="margin-top:30px;"></canvas>

</section>

{{orders_data|json_script:"orders-data"}}
{{revenue_data|json_script:"revenue-data"}}
{{status_data|json_script:"status-data"}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const orders = JSON.parse(document.getElementById('orders-data').textContent);
    const revenue= JSON.parse(document.getElementById('revenue-data').textContent);
    const statusData= JSON.parse(document.getElementById('status-data').textContent);
    
    console.log("ORDERS:", orders);
    console.log("REVENUE:", revenue);
    console.log("STATUS:", statusData);

    const orderLabels=orders.map(o=>
        new Date(o.day).toLocaleDateString()
    );
    const orderCounts=orders.map(o=>o.count);

    new Chart(document.getElementById('ordersChart'),{
        type: 'line',
        data: {
            labels: orderLabels,
            datasets:[{
                label:'Orders',
                data:orderCounts,
                borderWidth:2,
                tension:0.3
            }]
        }
    });
    
    const revenueLabels=revenue.map(o=>
        new Date(o.day).toLocaleDateString()
    );
    const revenueTotals=revenue.map(r=> Number(r.total || 0));

    new Chart(document.getElementById('revenueChart'),{
        type: 'bar',
        data: {
            labels: revenue.map(r =>
                new Date(r.day).toLocaleDateString()
            ),
            datasets:[{
                label:'Revenue',
                data:revenueTotals,
            }]
        }
    });

    new Chart(document.getElementById('statusChart'),{
        type: 'pie',
        data: {
            labels: statusData.map(s=>s.status),
            datasets:[{
                data:statusData.map(s=>s.count),
            }]
        }
    });

    function exportPDF(){
        const ordersChart=document.getElementById('ordersChart').toDataURL("image/png");
        const revenueChart=document.getElementById('revenueChart').toDataURL("image/png");
        const statusChart=document.getElementById('statusChart').toDataURL("image/png");

        fetch("/manage/dashboard/export/pdf/", {
            method: "POST",
            headers:{
                "Content-Type": "application/json",
                "X-CSRFToken": "{{csrf_token}}"
            },
            body: JSON.stringify({
                orders_chart: ordersChart,
                revenue_chart: revenueChart,
                status_chart: statusChart
            })
        })
        .then(response => response.blob())
        .then(blob=>{
            const url=window.URL.createObjectURL(blob);
            const a=document.createElement("a");
            a.href=url;
            a.download="dashboard_report.pdf";
            a.click();
        });
    }
</script>
<style>
    .column-line:nth-of-type(2n){
        background-color: #1f2127;
    }
</style>
{%endblock%}