{%extends 'shop/base.html'%}
{%load static%}
{%block title%}{{product.name}}{%endblock%}
{%block content%}
<h2 class="productname">{{product.name}}</h2>
<p>Category: {{product.category.name}}</p>
<p>Price: ${{product.price}}</p>
<p>Stock: {{product.stock}}</p>
<div class="card__img">
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
    {% else %}
        <img src="{% static 'img/placeholder.png' %}" alt="" class="product-img">
    {% endif %}
</div>
<form action="{%url 'shop:cart_add' product.id%}" method="post">
    {%csrf_token%}
    <input class="inputqty" type="number" name="quantity" value="1" min="1" max="999">
    <button class="btn btn--primary" type="submit">Add to cart</button>
    <a class="btn" href="{%url 'shop:home'%}">Back</a>
</form>

{%endblock%}