{%extends 'shop/base.html'%}
{%load static%}
{%block title%}Products{%endblock%}

{%block content%}

<div class="shell">
    <aside class="panel">
        <h3 class="cat-title">Categories</h3>
        <ul class="cat-list">
            <li><a class="categorylol" href="{%url 'shop:home'%}">All products</a></li>
            {%for c in categories%}
            <li><a class="categorylol" href="{{c.get_absolute_url}}">{{c.name}}</a></li>
            {%endfor%}

        </ul>
    </aside>
    <section class="panel">
        <h2 style="margin:0 0 12px 0">
            Products{%if category%} in {{category.name}}{%endif%}
        </h2>
        <div class="grid">
            {%for p in products%}

            <article class="card">
                <div class="card__img">
                    {% if p.image %}
                        <img src="{{ p.image.url }}" alt="{{ p.name }}" class="product-img">
                    {% else %}
                        <img src="{% static 'img/placeholder.png' %}" alt="" class="product-img">
                    {% endif %}
                </div>
                <div class="card__body">
                    <h3 class="Card__name">
                        <a href="{{p.get_absolute_url}}" class="productname" style="text-decoration: none;">{{p.name}}</a>
                    </h3>

                    <div class="card__meta">
                        <span class="muted">{{p.category.name}} | </span>
                        <span class="card__price">{{p.price}}$</span>
                    </div>

                    <div class="card__actions">
                        <form action="{%url 'shop:cart_add' p.id%}" method="post">
                            {%csrf_token%}
                            <input class="inputqty" type="number" name="quantity" value="1" min="1" max="999">
                            <button class="btn btn--primary" type="submit">Add to cart</button>
                        </form>
                        <a class="btn" href="{{p.get_absolute_url}}">Details</a>
                    </div>
                </div>
            </article> 
            {%empty%}
            <p class="muted">No products found.</p>
            {%endfor%}
        </div>
    </section>

                

        
</div>
{%endblock%}